@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

// Colors
// --------------------------------

$backgroundColor: #181818;
$fontColor: #F7F7F7;
$stillColor: #ee5f64;

// Fonts
// --------------------------------
$fontTitle: 'Philosopher', sans-serif;
$fontText: 'Roboto', sans-serif;; 
