@import '../../styles/index.scss';

.App {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: $backgroundColor;
}

// V12021
//-------------------------------------
.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 100;
    padding: 2rem;
}