@import '../../styles/index.scss';

.home {
    background-color: $backgroundColor;
    color: $fontColor;
}

.home-title {
    display: flex;
    flex-direction: column;

    &_h {
        display: flex;
        flex-direction: column;
        font-size: 5rem;
    }
}

.title-name {
    font-family: $fontTitle;
    font-size: 8rem;
}

.subtitle {
    font-weight: 100;
}