
/*
================================
============ COLORS ============
================================
*/
$black-bg : #0e0e0e;
$white-txt : #F7F9F9;


/*
================================
============ FONTS =============
================================
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

// Font :
$global-font: 'Playfair Display', serif;


/*
================================
========== MEDIA QUERY =========
================================
*/

$tablette : 481px;
$tab-landscape : 768px;
$laptop : 1024px;
$desktop : 1600px; 