
/*
================================
============ COLORS ============
================================
*/
$black : #0e0e0e;
$gris: #E5E7E9;

$bg : #202020;


/*
================================
============ FONTS =============
================================
*/
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@200;300;400;700&display=swap');

// Font :
$global-font: 'Poppins', sans-serif;
$parisFont: 'Parisienne', cursive;


/*
================================
========== MEDIA QUERY =========
================================
*/

$tablette : 481px;
$tab-landscape : 768px;
$laptop : 1024px;
$desktop : 1600px; 