@import '../styles/index.scss';

header {
    position: relative;
}

/*
    HEADER NAV CTN
*/
header .nav {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 50px;
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
}

/*
    LOGO
*/
header .nav .nav-logo {
    width: 80px;
    height: 100%;
    background-color: $gris;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    NAV CONTENT LINKS DESKTOP
*/
header .nav .ctn-links_L {
    display: none;
}

/*
    NAV CONTENT LINKS MOB
*/
header .ctn-links {
    position: absolute;
    z-index: 0;
    top: -250px;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: $gris;
    transition: top 1s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-weight: 700;
}

// => MENU OPENED
header .ctn-links.opened {
    top: 50px;
    transition: top 1s ease-in-out;
}

/*
    BTN MENU
*/
header .nav .btn-menu {
    width: 60px;
    height: 100%;
    border: none;
    background-color: $gris;
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav .btn-menu span {
    width: 50%;
    height: 3px;
    background-color: $black;
    position: relative;
}

header .nav .btn-menu span::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 3px;
    background-color: $black;
}

header .nav .btn-menu span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 3px;
    background-color: $black;
}

header .nav .btn-menu span.active {
    transform: rotate(-45deg);
}

header .nav .btn-menu span.active::before {
    bottom: 0;
    transform: rotate(90deg);
}

header .nav .btn-menu span.active::after {
    top: 0;
    visibility: hidden;
}



@media screen and (min-width: $tablette) {

}

@media screen and (min-width: $tab-landscape) {
    header .nav .btn-menu {
        display: none;
    }

    header .nav .ctn-links_L {
        display: inline-block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media screen and (min-width: $laptop) {
    
}
@media screen and (min-width: $desktop) {
    
}