@import '../styles/index.scss';

header .nav {
    height: 50px;
    background-color: $white-txt;
    position: relative;
}

.nav .nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: cadetblue;
}

.nav .ctn-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: none;
}

.nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $black-bg;
    font-weight: 700;
}

.nav .btn-mob {
    border: none;
    width: 80px;
    height: 50px;
}

.nav .btn-contact {
    position: absolute;
    top: 0;
    right: 82px;
}

.nav .btn-menu {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (min-width: $tablette) {

}

@media screen and (min-width: $tab-landscape) {
    
}
@media screen and (min-width: $laptop) {
    
}
@media screen and (min-width: $desktop) {
    
}