@import '../../styles/index.scss';

.nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    height: 2rem;
    display: flex;
    z-index: 50;
}

.navlinks {
    margin: 0 auto;
}

.navlink {
    padding-right: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
}

.nav-contact {
    position: absolute;
    top: 10rem;
    right: -8rem;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 900;
    color: $white;
}